/* Updated slider for 6 images with a width of 350px each */



$animationSpeed: 40s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(100%)}
}

// Styling
.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 350px;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 100%;
	
	&::before,
	&::after {
		content: "";
		height: 350px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: 100%;
	}
	
	.slide {
		height: 350px;
		width: 350px; /* Updated width for each slide */
	}
}
