.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'brandon-grotesque', 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 1.2px;

  padding: 15px 25px;
  position: fixed;
  width: 100%;
  z-index: 5;

  background: rgba(255, 255, 255, 0.8); // Make sure this color has an opacity of less than 1
  backdrop-filter: blur(10px);
  backdrop-filter: blur(20px) saturate(120%) contrast(200%);
  max-width: calc(100vw - 50px);
}

/* Style the left and right items */
.left-items,
.right-items {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: start;
  flex-grow: 1;
  max-width: 30%;
}

.right-items {
  justify-content: end;
}

.left-items a,
.right-items a {
  text-decoration: none;
  padding: 10px 15px;
}

.left-items a:hover,
.right-items a:hover {
  border-radius: 4px;
}

/* Style the logo */
.logo img {
  max-width: 100px;
  height: auto;
}

.logo {
  display: flex;
  flex-grow: 1;
  max-width: 30%;
  align-items: center;
  justify-content: center;
}

.cart {
  width: 26px;
  height: 22px;
}